<form action="/auth/register" method="post" class="form register">
      <div class="form-section title">
            <h1>Sign Up</h1>
      </div>

      <% if(locals.error) { %>

      <div class="form-section text-input">
            <p class="error message"><%= locals.error.message %></p>
      </div>

      <% } %>

      <div class="form-section text-input">
            <label for="first_name">First Name</label>
            <input
                  type="text"
                  name="first_name"
                  value="<%= locals.data.first_name %>"
                  id="first_name"
                  placeholder="first name"
            />
      </div>

      <div class="form-section text-input">
            <label for="last_name">Last Name</label>
            <input
                  type="text"
                  name="last_name"
                  value="<%= locals.data.last_name %>"
                  id="last_name"
                  placeholder="last name"
            />
      </div>

      <div class="form-section text-input">
            <label for="username">Username</label>
            <input
                  type="text"
                  name="username"
                  value="<%= locals.data.username %>"
                  id="username"
                  placeholder="username"
            />
      </div>

      <div class="form-section text-input">
            <label for="email">E-mail</label>
            <input
                  type="email"
                  name="email"
                  value="<%= locals.data.email %>"
                  id="email"
                  placeholder="email"
            />
      </div>

      <div class="form-section text-input">
            <label for="password">Password</label>
            <input
                  type="password"
                  name="password"
                  value="<%= locals.data.password %>"
                  id="password"
                  placeholder="*********"
            />
      </div>

      <div class="form-section text-input">
            <label for="password_confirmation">Password again</label>
            <input
                  type="password"
                  name="password_confirmation"
                  value="<%= locals.data.password_confirmation %>"
                  id="password_confirmation"
                  placeholder="*********"
            />
      </div>

      <div class="form-section">
            <input type="checkbox" name="termsAndConditions"
            id="termsAndConditions" <%= locals.data.termsAndConditions ?
            'checked' : '' %> />

            <label for="termsAndConditions">
                  Agree to <a href="#">terms & conditions</a>
            </label>
      </div>

      <input type="hidden" name="_csrf" value="<%= locals.csrf %>" />

      <div class="form-section">
            <input type="submit" value="Sign up" />
      </div>
</form>
