<div id="editForm" class="edit-area">
      <div class="form-part">
            <div class="area">
                  <div class="form-section text-input">
                        <label for="first_name">First Name</label>
                        <input
                              type="text"
                              name="first_name"
                              value="<%= user.first_name %>"
                              id="first_name"
                              placeholder="first name"
                        />
                  </div>

                  <div class="form-section text-input">
                        <label for="last_name">Last Name</label>
                        <input
                              type="text"
                              name="last_name"
                              value="<%= user.last_name %>"
                              id="last_name"
                              placeholder="last name"
                        />
                  </div>

                  <div class="form-section text-input">
                        <label for="username">Username</label>
                        <input
                              type="text"
                              name="username"
                              value="<%= user.username %>"
                              id="username"
                              placeholder="username"
                        />
                  </div>

                  <div class="form-section text-input">
                        <label for="email">E-mail</label>
                        <input
                              type="email"
                              name="email"
                              value="<%= user.email %>"
                              id="email"
                              placeholder="email"
                        />
                  </div>

                  <div class="form-section">
                        <label for="birth_day">Dath of birth</label>
                        
                        <input
                              type="date"
                              name="birth_day"
                              id="birth_day"
                              value="<%= user.details.birth_day %>"
                        />
                  </div>

                  <div class="area">
                        <div class="form-section text-input">
                              <label for="password">Password</label>
                              <input
                                    type="password"
                                    name="password"
                                    id="password"
                                    placeholder="*********"
                              />
                        </div>

                        <div class="form-section text-input">
                              <label for="password_confirmation"
                                    >Password again</label
                              >
                              <input
                                    type="password"
                                    name="password_confirmation"
                                    id="password_confirmation"
                                    placeholder="*********"
                              />
                        </div>
                  </div>

                  <div class="form-section text-input">
                        <label for="education">Education</label>
                        <input
                              type="text"
                              name="education"
                              id="education"
                              value="<%= user.details.education %>"
                              placeholder="University, College ..."
                        />
                  </div>

                  <div class="form-section text-input">
                        <label for="ocupation">Ocupation</label>
                        <input
                              type="text"
                              name="ocupation"
                              id="ocupation"
                              value="<%= user.details.ocupation %>"
                              placeholder="Doctor, Engeneer ..."
                        />
                  </div>
            </div>

            <div class="form-section languges-input area">
                  <label>Languges</label>
                  <div class="languages">
                        <% for(let i=0; i<languages.length; i++) { %>
                              <span class="lang">
                                    <label for="lang-<%= i %>"><%= languages[i] %></label>
                                    <input
                                          <%= user.details.languages.includes(`${i}`) ? 'checked' : '' %>
                                          id="lang-<%= i %>"
                                          value="<%= i %>"
                                          type="checkbox"
                                          name="languages[]"
                                    />
                              </span>
                        <% } %>
                  </div>
            </div>

            <div class="area">
                  <div class="form-section text-input">
                        <label for="about_me">About me</label>
                        <textarea
                              name="about_me"
                              id="about_me"
                              rows="8"
                        ><%= user.details.about_me %></textarea>
                  </div>

                  <div class="form-section text-input">
                        <label for="about_partner">About partner</label>
                        <textarea
                              name="about_partner"
                              id="about_partner"
                              rows="8"
                        ><%= user.details.about_partner %></textarea>
                  </div>
            </div>
      </div>

      <!-- // part 2 -->

      <div class="form-part">
            <div class="area">
                  <div class="form-section text-input" id="country-section">
                        <label for="country">County</label>
                        <input type="text" id="country" autocomplete="no">
                        <div class="options hidden">
                              <div class="listing"></div>
                        </div>
                        <input type="hidden" id="country_id" name="country" value="<%= user.details.location.country %>">
                  </div>

                  <div class="form-section text-input" id="state-section">
                        <label for="state">State/Region</label>
                        <input type="text" id="state" autocomplete="no">
                        <div class="options hidden">
                              <div class="listing"></div>
                        </div>
                        <input type="hidden" id="state_id" name="state" value="<%= user.details.location.region %>">
                  </div>

                  <div class="form-section text-input" id="city-section">
                        <label for="city">City</label>
                        <input type="text" id="city" autocomplete="no">
                        <div class="options hidden">
                              <div class="listing"></div>
                        </div>
                        <input type="hidden" id="city_id" name="city" value="<%= user.details.location.city %>">
                  </div>

                  <div class="form-section">
                        <label for="timezone">Timezone</label>
                        <select name="timezone" id="timezone">
                              <option <%= !user.details.location.timezone ? 'selected' : '' %> disabled>
                                    --not selected--
                              </option>
                        </select>
                        <input type="hidden" id="timezone_id" value="<%= user.details.location.timezone %>">
                  </div>

                  <div class="form-section">
                        <label for="marital_status">Marital status</label>
                        <select name="marital_status" id="marital_status">
                              <option <%= !user.details.marital_status ? 'selected' : '' %> disabled>
                                    --not selected--
                              </option>
                              <% for(let i=0; i<marital_status.length; i++){ %>
                                    <option value="<%= i %>" <%= user.details.marital_status==i ? 'selected' : '' %> >
                                          <%= marital_status[i] %>
                                    </option>
                              <% } %> 
                        </select>
                  </div>

                  <div class="form-section">
                        <label for="height">Height</label>
                        <select name="height" id="height">
                              <option <%= !user.details.height ? 'selected' : '' %> disabled>
                                    --not selected--
                              </option>
                              <% for(let i=min_height; i<=max_height; i++){ %>
                                    <option value="<%= i %>" <%= user.details.height==i ? 'selected' : '' %>>
                                          <% let height =`${i} cm  (${i / 100} m)` %>
                                          <%= height %>
                                    </option>
                              <% } %> 
                        </select>
                  </div>

                  <div class="form-section">
                        <label for="weight">Weight</label>
                        <select name="weight" id="weight">
                              <option <%= !user.details.weight ? 'selected' : '' %> disabled>
                                    --not selected--
                              </option>
                              <% for(let i=min_weight; i<=max_weight; i++){ %>
                                    <option value="<%= i %>" <%= user.details.weight==i ? 'selected' : '' %>>
                                          <% let weight =`${i} lb  (${Number(i * 0.453592).toFixed(2)} kg)` %>
                                          <%= weight %>
                                    </option>
                              <% } %> 
                        </select>
                  </div>

                  <div class="form-section">
                        <label for="hair_color">Hair color</label>
                        <select name="hair_color" id="hair_color">
                              <option <%= !user.details.hair_color ? 'selected' : '' %> disabled>
                                    --not selected--
                              </option>
                              <% for(let i=0; i<hair_colors.length; i++){ %>
                                    <option value="<%= i %>" <%= user.details.hair_color==i ? 'selected' : '' %>>
                                          <%= hair_colors[i] %>
                                    </option>
                              <% } %> 
                        </select>
                  </div>

                  <div class="form-section">
                        <label for="eye_color">Eye color</label>
                        <select name="eye_color" id="eye_color">
                              <option <%= !user.details.eye_color ? 'selected' : '' %> disabled>
                                    --not selected--
                              </option>
                              <% for(let i=0; i<eye_color.length; i++){ %>
                                    <option value="<%= i %>" <%= user.details.eye_color==i ? 'selected' : '' %>>
                                          <%= eye_color[i] %>
                                    </option>
                              <% } %> 
                        </select>
                  </div>

                  <div class="form-section">
                        <label for="children">Children</label>
                        <select name="children" id="children">
                              <option <%= !user.details.children ? 'selected' : '' %> disabled>
                                    --not selected--
                              </option>
                              <% for(let i=0; i<=children_max; i++){ %>
                                    <option value="<%= i %>" <%= user.details.children==i ? 'selected' : '' %> >
                                          <%= i %>
                                    </option>
                              <% } %> 
                        </select>
                  </div>

                  <div class="form-section">
                        <label for="relegion">Relegion</label>
                        <select name="relegion" id="relegion">
                              <option <%= !user.details.relegion ? 'selected' : '' %> disabled>
                                    --not selected--
                              </option>
                              <% for(let i=0; i<relegions.length; i++){ %>
                                    <option value="<%= i %>" <%= user.details.relegion==i ? 'selected' : '' %>>
                                          <%= relegions[i] %>
                                    </option>
                              <% } %> 
                        </select>
                  </div>

                  <div class="form-section">
                        <label for="smoking">Smoking</label>
                        <select name="smoking" id="smoking">
                              <option <%= !user.details.smoking ? 'selected' : '' %> disabled>
                                    --not selected--
                              </option>
                              <% for(let i=0; i<habit.length; i++){ %>
                                    <option value="<%= i %>" <%= user.details.smoking==i ? 'selected' : '' %>>
                                          <%= habit[i] %>
                                    </option>
                              <% } %> 
                        </select>
                  </div>

                  <div class="form-section">
                        <label for="drinking">Drinking</label>
                        <select name="drinking" id="drinking">
                              <option <%= !user.details.drinking ? 'selected' : '' %> disabled>
                                    --not selected--
                              </option>
                              <% for(let i=0; i<habit.length; i++){ %>
                                    <option value="<%= i %>" <%= user.details.drinking==i ? 'selected' : '' %>>
                                          <%= habit[i] %>
                                    </option>
                              <% } %> 
                        </select>
                  </div>

                  <div class="form-section partner_age">
                        <label>Partner age</label>
                        <div class="select">
                              <div>
                                    <label for="from">From</label>
                                    <select name="partner_age_from" id="from">
                                          <option <%= !user.details.partner_age.from ? 'selected' : '' %> disabled>
                                                --not selected--
                                          </option>
                                          <% for(let i=min_age; i<=max_age; i++){ %>
                                          <option
                                                value="<%= i %>"
                                                <%= i==user.details.partner_age.from ? 'selected': '' %>
                                          >
                                                <%= i %>
                                          </option>
                                          <% } %>
                                    </select>
                              </div>

                              <div>
                                    <label for="to">To</label>
                                    <select name="partner_age_to" id="to">
                                          <option <%= !user.details.partner_age.to ? 'selected' : '' %> disabled>
                                                --not selected--
                                          </option>
                                          <% for(let i=min_age; i<=max_age; i++){ %>
                                                <option
                                                      value="<%= i %>"
                                                      <%= i==user.details.partner_age.to ? 'selected': '' %>
                                                >
                                                      <%= i %>
                                                </option>
                                          <% } %>
                                    </select>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>