<div id="chat" class="area">
      <div class="header">
            <input type="hidden" id="_id" value="<%= user._id %>" />
            <h2>
                  <a href="/users/<%= user._id %>">
                        <%= user.full_name %> <%= user.age ? ', ' + user.age :
                        '' %>
                  </a>
            </h2>
            <small class="currentSts">
                  <span class="<%= online ? 'online' : 'offline' %>"></span>
                  <span>
                        <%= online ? 'online now' : `last seen
                        ${user.lastOnline} ago` %>
                  </span>
            </small>
      </div>
      <div id="conversation">
            <div id="messages">
                  <!-- <div class="msg">
                        <div class="system">start</div>
                  </div> -->

                  <!-- <div class="msg him">
                        <div class="wrapper">
                              <span class="txt">hi</span>
                              <span class="overview">
                                    <small class="time">03:36</small>
                              </span>
                        </div>
                  </div>
                  <div class="msg me">
                        <div class="wrapper">
                              <span class="txt">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Sit ducimus tempore
                              </span>
                              <span class="overview">
                                    <small class="time">03:36</small>
                                    <small class="state read"></small>
                              </span>
                        </div>
                  </div>
                  <div class="msg me">
                        <div class="wrapper">
                              <span class="txt">
                                    Lorem ipsum dolor sit amet consecte
                              </span>
                              <span class="overview">
                                    <small class="time">03:37</small>
                                    <small class="state"></small>
                              </span>
                        </div>
                  </div> -->
            </div>

            <div class="controll">
                  <input type="text" name="" id="textMsg" autofocus />
                  <span id="sendMsg">
                        <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                        >
                              <path
                                    d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z"
                              />
                        </svg>
                  </span>
            </div>
      </div>
</div>
