<div id="searchForm">
      <form action="/users/me" method="post" class="form profile-edit">
            <div class="form-section title">
                  <h1>Search users</h1>
            </div>

            <% if(locals.error) { %>

            <div class="form-section text-input">
                  <p class="error message"><%= locals.error.message %></p>
            </div>

            <% } %>

            <!-- start -->
            <div class="container">
                  <div class="form-section text-input">
                        <span class="lbl">
                              <label for="name">Name</label>
                        </span>
                        <input
                              type="text"
                              name="name"
                              id="name"
                              placeholder="Name"
                        />
                  </div>

                  <div class="form-section select-area">
                        <span class="lbl">
                              <label>Partner age</label>
                        </span>
                        <div class="select">
                              <div>
                                    <label for="from">From</label>
                                    <select name="partner_age_from" id="from">
                                          <option  disabled>
                                                --not selected--
                                          </option>
                                          <% for(let i=min_age; i<=max_age; i++){ %>
                                          <option value="<%= i %>">
                                                <%= i %>
                                          </option>
                                          <% } %>
                                    </select>
                              </div>

                              <div>
                                    <label for="to">To</label>
                                    <select name="partner_age_to" id="to">
                                          <option  disabled>
                                                --not selected--
                                          </option>
                                          <% for(let i=min_age; i<=max_age; i++){ %>
                                                <option value="<%= i %>">
                                                      <%= i %>
                                                </option>
                                          <% } %>
                                    </select>
                              </div>
                        </div>
                  </div>

                  <div class="form-section text-input" id="country-section">
                        <span class="lbl">
                              <label for="country">County</label>
                        </span>
                        <input type="text" id="country" autocomplete="no">
                        <div class="options hidden">
                              <div class="listing"></div>
                        </div>
                        <input type="hidden" id="country_id" name="country" value="">
                  </div>

                  <div class="form-section text-input" id="state-section">
                        <span class="lbl">
                              <label for="state">State/Region</label>
                        </span>
                        <input type="text" id="state" autocomplete="no">
                        <div class="options hidden">
                              <div class="listing"></div>
                        </div>
                        <input type="hidden" id="state_id" name="state" value="">
                  </div>

                  <div class="form-section text-input" id="city-section">
                        <span class="lbl">
                              <label for="city">City</label>
                        </span>
                        <input type="text" id="city" autocomplete="no">
                        <div class="options hidden">
                              <div class="listing"></div>
                        </div>
                        <input type="hidden" id="city_id" name="city" value="">
                  </div>

                  <div class="form-section select-area">
                        <span class="lbl">
                              <label>Height</label>
                        </span>
                        <div class="select">
                              <div>
                                    <label for="height_from">From</label>
                                    <select name="height_from" id="height_from">
                                          <option  disabled>
                                                --not selected--
                                          </option>
                                          <% for(let i=min_height; i<=max_height; i++){ %>
                                                <option value="<%= i %>" >
                                                      <% let height =`${i} cm  (${i / 100} m)` %>
                                                      <%= height %>
                                                </option>
                                          <% } %> 
                                    </select>
                              </div>

                              <div>
                                    <label for="height_to">To</label>
                                    <select name="height_to" id="height_to">
                                          <option  disabled>
                                                --not selected--
                                          </option>
                                          <% for(let i=min_height; i<=max_height; i++){ %>
                                                <option value="<%= i %>" >
                                                      <% let height =`${i} cm  (${i / 100} m)` %>
                                                      <%= height %>
                                                </option>
                                          <% } %> 
                                    </select>
                              </div>
                        </div>
                  </div>

                  <div class="form-section area">
                        <span class="lbl">
                              <label>Weight</label>
                        </span>
                        <div class="select">
                              <div>
                                    <label for="weight_from">From</label>
                                    <select name="weight_from" id="weight_from">
                                          <option  disabled>
                                                --not selected--
                                          </option>
                                          <% for(let i=min_weight; i<=max_weight; i++){ %>
                                                <option value="<%= i %>" >
                                                      <% let weight =`${i} lb  (${Number(i * 0.453592).toFixed(2)} kg)` %>
                                                      <%= weight %>
                                                </option>
                                          <% } %> 
                                    </select>
                              </div>

                              <div>
                                    <label for="weight_to">To</label>
                                    <select name="weight_to" id="weight_to">
                                          <option  disabled>
                                                --not selected--
                                          </option>
                                          <% for(let i=min_weight; i<=max_weight; i++){ %>
                                                <option value="<%= i %>" >
                                                      <% let weight =`${i} lb  (${Number(i * 0.453592).toFixed(2)} kg)` %>
                                                      <%= weight %>
                                                </option>
                                          <% } %> 
                                    </select>
                              </div>
                        </div>
                  </div>

                  <div class="form-section">
                        <span class="lbl">
                              <label for="hair_color">Hair color</label>
                        </span>
                        <select name="hair_color" id="hair_color" multiple size="4">
                              <% for(let i=0; i<hair_colors.length; i++){ %>
                                    <option value="<%= i %>" >
                                          <%= hair_colors[i] %>
                                    </option>
                              <% } %> 
                        </select>
                  </div>

                  <div class="form-section">
                        <span class="lbl">
                              <label for="eye_color">Eye color</label>
                        </span>
                        <select name="eye_color" id="eye_color" multiple size="4">
                              <% for(let i=0; i<eye_color.length; i++){ %>
                                    <option value="<%= i %>" >
                                          <%= eye_color[i] %>
                                    </option>
                              <% } %> 
                        </select>
                  </div>

                  <div class="form-section">
                        <span class="lbl">
                              <label for="relegion">Relegion</label>
                        </span>
                        <select name="relegion" id="relegion">
                              <option disabled>
                                    --not selected--
                              </option>
                              <% for(let i=0; i<relegions.length; i++){ %>
                                    <option value="<%= i %>" >
                                          <%= relegions[i] %>
                                    </option>
                              <% } %> 
                        </select>
                  </div>

                  <div class="form-section">
                        <span class="lbl">
                              <label for="children">Children</label>
                        </span>
                        <select name="children" id="children">
                              <option  disabled>
                                    --not selected--
                              </option>
                              <% for(let i=0; i<=children_max; i++){ %>
                                    <option value="<%= i %>"  >
                                          <%= i %>
                                    </option>
                              <% } %> 
                        </select>
                  </div>

                  <div class="form-section">
                        <span class="lbl">
                              <label for="marital_status">Marital status</label>
                        </span>
                        <select name="marital_status" id="marital_status">
                              <option  disabled>
                                    --not selected--
                              </option>
                              <% for(let i=0; i<marital_status.length; i++){ %>
                                    <option value="<%= i %>"  >
                                          <%= marital_status[i] %>
                                    </option>
                              <% } %> 
                        </select>
                  </div>

                  <div class="form-section">
                        <span class="lbl">
                              <label for="smoking">Smoking</label>
                        </span>
                        <select name="smoking" id="smoking">
                              <option  disabled>
                                    --not selected--
                              </option>
                              <% for(let i=0; i<habit.length; i++){ %>
                                    <option value="<%= i %>" >
                                          <%= habit[i] %>
                                    </option>
                              <% } %> 
                        </select>
                  </div>

                  <div class="form-section">
                        <span class="lbl">
                              <label for="drinking">Drinking</label>
                        </span>
                        <select name="drinking" id="drinking">
                              <option  disabled>
                                    --not selected--
                              </option>
                              <% for(let i=0; i<habit.length; i++){ %>
                                    <option value="<%= i %>" >
                                          <%= habit[i] %>
                                    </option>
                              <% } %> 
                        </select>
                  </div>

                  <div class="form-section ">
                        <span class="lbl">
                              <label for="online">Online now</label>
                        </span>
                        <input type="checkbox" name="online" id="online">
                  </div>

                  <div class="form-section ">
                        <span class="lbl">
                              <label for="with_photos">With photos</label>
                        </span>
                        <input type="checkbox" name="with_photos" id="with_photos">
                  </div>

                  <div class="form-section languges-input area">
                        <span class="lbl">
                              <label>Languges</label>
                        </span>
                        <div class="languages">
                              <% for(let i=0; i<languages.length; i++) { %>
                                    <span class="lang">
                                          <label for="lang-<%= i %>"><%= languages[i] %></label>
                                          <input
                                                id="lang-<%= i %>"
                                                value="<%= i %>"
                                                type="checkbox"
                                                name="languages[]"
                                          />
                                    </span>
                              <% } %>
                        </div>
                  </div>

            </div>
            <!-- enD -->

            <input type="hidden" name="_csrf" value="<%= csrf %>" />

            <div class="form-section">
                  <input type="submit" value="Search" />
            </div>
      </form>
</div>
