<div id="searchForm">
      <form action="/users/find" method="get" class="form">
            <div class="form-section title">
                  <h1>Search users</h1>
            </div>

            <% if(locals.error) { %>

            <div class="form-section text-input">
                  <p class="error message"><%= locals.error.message %></p>
            </div>

            <% } %>

            <!-- start -->
            <div class="container">
                  <div class="form-section text-input">
                        <span class="lbl">
                              <label for="name">Name</label>
                        </span>
                        <div class="wrapper">
                              <input
                                    type="text"
                                    name="name"
                                    id="name"
                                    placeholder="Name"
                                    value="<%= data.name %>"
                              />
                        </div>
                  </div>

                  <div class="form-section select-area">
                        <span class="lbl">
                              <label>Age</label>
                        </span>
                        <div class="select">
                              <div>
                                    <label for="partner_age_from">From</label>
                                    <select name="partner_age_from" id="partner_age_from">
                                          <option <%= data.partner_age_from ? '' : 'selected' %> disabled>
                                                --not selected--
                                          </option>
                                          <% for(let i=min_age; i<=max_age; i++){ %>
                                          <option class="val" value="<%= i %>" <%= data.partner_age_from==i ? 'selected' : '' %>>
                                                <%= i %>
                                          </option>
                                          <% } %>
                                    </select>
                              </div>

                              <div>
                                    <label for="partner_age_to">To</label>
                                    <select name="partner_age_to" id="partner_age_to">
                                          <option <%= data.partner_age_to ? '' : 'selected' %> disabled>
                                                --not selected--
                                          </option>
                                          <% for(let i=min_age; i<=max_age; i++){ %>
                                                <option class="val" value="<%= i %>" <%= data.partner_age_to==i ? 'selected' : '' %>>
                                                      <%= i %>
                                                </option>
                                          <% } %>
                                    </select>
                              </div>
                        </div>
                  </div>

                  <div class="area">
                        <div class="form-section text-input" id="country-section">
                              <span class="lbl">
                                    <label for="country">County</label>
                              </span>
                              <div class="wrapper">
                                    <input type="text" id="country" autocomplete="off">
                                    <div class="options">
                                          <div class="listing"></div>
                                    </div>
                                    <input type="hidden" id="country_id" name="country" value="<%= data.country %>">
                              </div>
                        </div>
      
                        <div class="form-section text-input" id="state-section">
                              <span class="lbl">
                                    <label for="state">State/Region</label>
                              </span>
                              <div class="wrapper">
                                    <input type="text" id="state" autocomplete="off">
                                    <div class="options hidden">
                                          <div class="listing"></div>
                                    </div>
                                    <input type="hidden" id="state_id" name="state" value="<%= data.state %>">
                              </div>
                        </div>
      
                        <div class="form-section text-input" id="city-section">
                              <span class="lbl">
                                    <label for="city">City</label>
                              </span>
                              <div class="wrapper">
                                    <input type="text" id="city" autocomplete="off">
                                    <div class="options hidden">
                                          <div class="listing"></div>
                                    </div>
                                    <input type="hidden" id="city_id" name="city" value="<%= data.city %>">
                              </div>
                        </div>
                  </div>      

                  <div class="form-section select-area">
                        <span class="lbl">
                              <label>Height</label>
                        </span>
                        <div class="select">
                              <div>
                                    <label for="height_from">From</label>
                                    <select name="height_from" id="height_from">
                                          <option <%= !data.height_from ? 'selected' : '' %> disabled>
                                                --not selected--
                                          </option>
                                          <% for(let i=min_height; i<=max_height; i++){ %>
                                                <option class="val" value="<%= i %>" <%= data.height_from==i ? 'selected' : '' %>>
                                                      <% let height =`${i} cm  (${i / 100} m)` %>
                                                      <%= height %>
                                                </option>
                                          <% } %> 
                                    </select>
                              </div>

                              <div>
                                    <label for="height_to">To</label>
                                    <select name="height_to" id="height_to">
                                          <option <%= !data.height_to ? 'selected' : '' %> disabled>
                                                --not selected--
                                          </option>
                                          <% for(let i=min_height; i<=max_height; i++){ %>
                                                <option class="val" value="<%= i %>" <%= data.height_to==i ? 'selected' : '' %>>
                                                      <% let height =`${i} cm  (${i / 100} m)` %>
                                                      <%= height %>
                                                </option>
                                          <% } %> 
                                    </select>
                              </div>
                        </div>
                  </div>

                  <div class="form-section select-area">
                        <span class="lbl">
                              <label>Weight</label>
                        </span>
                        <div class="select">
                              <div>
                                    <label for="weight_from">From</label>
                                    <select name="weight_from" id="weight_from">
                                          <option <%= !data.weight_from ? 'selected' : '' %> disabled>
                                                --not selected--
                                          </option>
                                          <% for(let i=min_weight; i<=max_weight; i++){ %>
                                                <option class="val" value="<%= i %>" <%= data.weight_from==i ? 'selected' : '' %>>
                                                      <% let weight =`${i} lb  (${Number(i * 0.453592).toFixed(2)} kg)` %>
                                                      <%= weight %>
                                                </option>
                                          <% } %> 
                                    </select>
                              </div>

                              <div>
                                    <label for="weight_to">To</label>
                                    <select name="weight_to" id="weight_to">
                                          <option <%= !data.weight_to ? 'selected' : '' %> disabled>
                                                --not selected--
                                          </option>
                                          <% for(let i=min_weight; i<=max_weight; i++){ %>
                                                <option class="val" value="<%= i %>" <%= data.weight_to==i ? 'selected' : '' %>>
                                                      <% let weight =`${i} lb  (${Number(i * 0.453592).toFixed(2)} kg)` %>
                                                      <%= weight %>
                                                </option>
                                          <% } %> 
                                    </select>
                              </div>
                        </div>
                  </div>

                  <div class="form-section languges-input">
                        <span class="lbl">
                              <label for="hair_color">Hair color</label>
                        </span>
                        <div class="languages wrapper">
                              <% for(let i=0; i<hair_colors.length; i++){ %>
                                    <span class="lang">
                                          <label for="hairColor-<%= i %>"><%= hair_colors[i] %></label>
                                          <input
                                                id="hairColor-<%= i %>"
                                                value="<%= i %>"
                                                type="checkbox"
                                                name="hair_colors[]"
                                                <% if(Array.isArray(data.hair_colors)) { %>
                                                      <%= data.hair_colors.includes(String(i)) ? 'checked' : '' %>
                                                <% } %>
                                          />
                                    </span>
                              <% } %>
                        </div>
                  </div>

                  <div class="form-section languges-input">
                        <span class="lbl">
                              <label for="eye_color">Eye color</label>
                        </span>
                        <div class="languages wrapper">
                              <% for(let i=0; i<eye_color.length; i++){ %>
                                    <span class="lang">
                                          <label for="eyeColor-<%= i %>"><%= eye_color[i] %></label>
                                          <input
                                                id="eyeColor-<%= i %>"
                                                value="<%= i %>"
                                                type="checkbox"
                                                name="eye_colors[]"
                                                <% if(Array.isArray(data.eye_colors)) { %>
                                                      <%= data.eye_colors.includes(String(i)) ? 'checked' : '' %>
                                                <% } %>
                                          />
                                    </span>
                              <% } %>
                        </div>
                  </div>

                  <div class="form-section languges-input">
                        <span class="lbl">
                              <label for="relegion">Relegion</label>
                        </span>
                        <div class="languages wrapper">
                              <% for(let i=0; i<relegions.length; i++){ %>
                                    <span class="lang">
                                          <label for="relegion-<%= i %>"><%= relegions[i] %></label>
                                          <input
                                                id="relegion-<%= i %>"
                                                value="<%= i %>"
                                                type="checkbox"
                                                name="relegions[]"
                                                <% if(Array.isArray(data.relegions)) { %>
                                                      <%= data.relegions.includes(String(i)) ? 'checked' : '' %>
                                                <% } %>
                                          />
                                    </span>
                              <% } %>
                        </div>
                  </div>

                  <div class="form-section">
                        <span class="lbl">
                              <label for="children">Without children</label>
                        </span>
                        <input type="checkbox" name="children" id="children" <%= data.children ? 'checked' : '' %>>
                  </div>

                  <div class="form-section languges-input">
                        <span class="lbl">
                              <label for="marital_status">Marital status</label>
                        </span>
                        <div class="languages wrapper">
                              <% for(let i=0; i<marital_status.length; i++){ %>
                                    <span class="lang">
                                          <label for="marital_status-<%= i %>"><%= marital_status[i] %></label>
                                          <input
                                                id="marital_status-<%= i %>"
                                                value="<%= i %>"
                                                type="checkbox"
                                                name="marital_status[]"
                                                <% if(Array.isArray(data.marital_status)) { %>
                                                      <%= data.marital_status.includes(String(i)) ? 'checked' : '' %>
                                                <% } %>
                                          />
                                    </span>
                              <% } %>
                        </div>
                  </div>

                  <div class="form-section languges-input">
                        <span class="lbl">
                              <label for="smoking">Smoking</label>
                        </span>
                        <div class="languages wrapper">
                              <% for(let i=0; i<habit.length; i++){ %>
                                    <span class="lang">
                                          <label for="smoking-<%= i %>"><%= habit[i] %></label>
                                          <input
                                                id="smoking-<%= i %>"
                                                value="<%= i %>"
                                                type="checkbox"
                                                name="smoking[]"
                                                <% if(Array.isArray(data.smoking)) { %>
                                                      <%= data.smoking.includes(String(i)) ? 'checked' : '' %>
                                                <% } %>
                                          />
                                    </span>
                              <% } %>
                        </div>
                  </div>

                  <div class="form-section languges-input">
                        <span class="lbl">
                              <label for="drinking">Drinking</label>
                        </span>
                        <div class="languages wrapper">
                              <% for(let i=0; i<habit.length; i++){ %>
                                    <span class="lang">
                                          <label for="drinking-<%= i %>"><%= habit[i] %></label>
                                          <input
                                                id="drinking-<%= i %>"
                                                value="<%= i %>"
                                                type="checkbox"
                                                name="drinking[]"
                                                <% if(Array.isArray(data.drinking)) { %>
                                                      <%= data.drinking.includes(String(i)) ? 'checked' : '' %>
                                                <% } %>
                                          />
                                    </span>
                              <% } %>
                        </div>
                  </div>

                  <div class="form-section ">
                        <span class="lbl">
                              <label for="online">Online now</label>
                        </span>
                        <input type="checkbox" name="online" <%= data.online ? 'checked' : '' %> id="online">
                  </div>

                  <div class="form-section ">
                        <span class="lbl">
                              <label for="with_photos">With photos</label>
                        </span>
                        <input type="checkbox" name="with_photos" <%= data.with_photos ? 'checked' : '' %> id="with_photos">
                  </div>

                  <div class="form-section languges-input">
                        <span class="lbl">
                              <label>Languges</label>
                        </span>
                        <div class="languages wrapper">
                              <% for(let i=0; i<languages.length; i++) { %>
                                    <span class="lang">
                                          <label for="lang-<%= i %>"><%= languages[i] %></label>
                                          <input
                                                id="lang-<%= i %>"
                                                value="<%= i %>"
                                                type="checkbox"
                                                name="languages[]"
                                                <% if(Array.isArray(data.languages)) { %>
                                                      <%= data.languages.includes(String(i)) ? 'checked' : '' %>
                                                <% } %>
                                          />
                                    </span>
                              <% } %>
                        </div>
                  </div>
            </div>
            <!-- enD -->

            <input type="hidden" name="_csrf" value="<%= csrf %>" />

            <div class="form-section">
                  <input type="submit" value="Search" />
            </div>
      </form>
</div>
