<div id="searchResult" class="area">
      <ul id="listing">
            <% for(let user of users) { %>
            <li>
                  <a href="/users/<%= user._id %>">
                        <div
                              class="itemImg bg-img"
                              style="
                                    background-image: url('/<%= user.profile_photo %>');
                              "
                        ></div>

                        <div>
                              <span>
                                    <%= user.first_name %> <%= user.last_name %>
                              </span>

                              <% if(user.age>0){ %>
                              <small> <%= user.age %> y.o</small>
                              <% } %>

                              <small class="currentSts">
                                    <span
                                          class="<%= user.online ? 'online' : 'offline' %>"
                                    >
                                    </span>
                                    <span
                                          ><%= user.online ? 'online now' :
                                          `last logged in
                                          ${timeSince(user.lastOnline)} ago`
                                          %></span
                                    >
                              </small>
                        </div>
                  </a>
            </li>
            <% } %>
      </ul>

      <div id="navigator">
            <ul>
                  <li>
                        <a href=""> 1 </a>
                  </li>

                  <!-- <li>
                        <a href=""> 2 </a>
                  </li>

                  <li>
                        <a href=""> 3 </a>
                  </li> -->
            </ul>
      </div>
</div>
