<div id="searchResult" class="area">
      <ul id="listing">
            <% for(let user of users) { %>
            <li>
                  <a href="/users/<%= user._id %>">
                        <img
                              src="/<%= user.profile_photo %>"
                              alt=""
                              width="170"
                        />
                        <div>
                              <span>
                                    <%= user.first_name %> <%= user.last_name %>
                              </span>

                              <small> <%= user.age %> y.o</small>

                              <small>last seen 3min aago</small>
                        </div>
                  </a>
            </li>
            <% } %>
      </ul>

      <div id="navigator">
            <ul>
                  <li>
                        <a href=""> 1 </a>
                  </li>

                  <li>
                        <a href=""> 2 </a>
                  </li>

                  <li>
                        <a href=""> 3 </a>
                  </li>
            </ul>
      </div>
</div>
