<div class="photos-upload-section area">
      <% if(locals.error) { %>

      <div class="form-section text-input error">
            <p class="error message"><%= locals.error.message %></p>
      </div>

      <% } %>

      <div class="notice">
            <small>
                  <b>
                        You must appear in your photos. Make sure that your
                        photo is taken showing your face from the front.
                  </b>
                  <p>
                        Try to choose a photo in which your face can be clearly
                        seen, and the lighting is good.
                  </p>
                  <p>
                        Photos containing your email address, website URLs, or
                        any other form of personal contact will not be accepted.
                  </p>
                  <p>
                        Photos of pets, nature shots and other abstracts will
                        not be posted. Pornography, obscenity, sexual or
                        otherwise offensive photos will not be posted.
                  </p>
                  <p>
                        <span>Minimal width - 200px </span><br />
                        <span>Minimal height - 100px</span><br />
                        <span>Maximum file size - 1.00 Mb</span>
                  </p>
            </small>
      </div>

      <form
            action="/users/me/photos?_csrf=<%= locals.csrf %>"
            method="post"
            enctype="multipart/form-data"
            id="imageUploadForm"
      >
            <div id="uploadBtn">
                  <label for="photos">
                        <p>Choose up to 5 photos to upload</p>
                        <span>
                              <img src="/upload.svg" alt="" />
                        </span>
                  </label>

                  <input
                        id="photos"
                        type="file"
                        name="photos"
                        accept="image/jpeg,image/png"
                        multiple
                        class="hidden"
                  />
            </div>

            <div>
                  <input type="submit" value="upload" class="btn" />
            </div>
      </form>

      <div class="clearSelected">
            <button id="clearSelectedBtn" class="btn hidden">clear</button>
      </div>

      <div id="listingPreview"></div>
</div>

<% if(photos.length){ %>

<div class="photos-upload-section area">
      <div class="header">
            <span>
                  <h3>My photos</h3>

                  <h4>
                        (<%= photos.length + ' Item' %><%= photos.length-1 ? 's'
                        : '' %>)
                  </h4>
            </span>
            <span>
                  <form action="/users/me/photos/delete" method="post">
                        <input
                              type="submit"
                              value="Clear all photos"
                              class="tolink"
                        />

                        <input
                              type="hidden"
                              name="_csrf"
                              value="<%= locals.csrf %>"
                        />
                        <input type="hidden" name="_method" value="DELETE" />
                  </form>
            </span>
      </div>

      <%- include('../partials/gallery.ejs') %>
</div>

<% } %>

<div id="cropOverlay" class="hidden">
      <div id="cropContainer" class="hidden">
            <span>
                  <small>
                        double click on the photo in order to controll it
                  </small>
                  <small class="close">close</small>
            </span>
            <div id="cropArea"></div>
            <div>
                  <button id="cropIt" class="btn">Crop</button>
            </div>
      </div>
</div>
