<form action="/users/me" method="post" class="form profile-edit" id="editForm">
      <div class="form-section title">
            <h1>Edit Profile</h1>
      </div>

      <% if(locals.error) { %>

      <div class="form-section text-input">
            <p class="error message"><%= locals.error.message %></p>
      </div>

      <% } %>

      <div class="edit-area">
            <div class="form-part">
                  <div class="area">
                        <div class="form-section text-input">
                              <label for="first_name">First Name</label>
                              <input
                                    type="text"
                                    name="first_name"
                                    value="<%= locals.user.first_name %>"
                                    id="first_name"
                                    placeholder="first name"
                              />
                        </div>

                        <div class="form-section text-input">
                              <label for="last_name">Last Name</label>
                              <input
                                    type="text"
                                    name="last_name"
                                    value="<%= locals.user.last_name %>"
                                    id="last_name"
                                    placeholder="last name"
                              />
                        </div>

                        <div class="form-section text-input">
                              <label for="username">Username</label>
                              <input
                                    type="text"
                                    name="username"
                                    value="<%= locals.user.username %>"
                                    id="username"
                                    placeholder="username"
                              />
                        </div>

                        <div class="form-section text-input">
                              <label for="email">E-mail</label>
                              <input
                                    type="email"
                                    name="email"
                                    value="<%= locals.user.email %>"
                                    id="email"
                                    placeholder="email"
                              />
                        </div>

                        <div class="form-section">
                              <label for="birth_day">Dath of birth</label>
                              <input
                                    type="date"
                                    name="birth_day"
                                    id="birth_day"
                              />
                        </div>

                        <div class="area">
                              <div class="form-section text-input">
                                    <label for="password">Password</label>
                                    <input
                                          type="password"
                                          name="password"
                                          id="password"
                                          placeholder="*********"
                                    />
                              </div>

                              <div class="form-section text-input">
                                    <label for="password_confirmation"
                                          >Password again</label
                                    >
                                    <input
                                          type="password"
                                          name="password_confirmation"
                                          id="password_confirmation"
                                          placeholder="*********"
                                    />
                              </div>
                        </div>

                        <div class="form-section text-input">
                              <label for="education">Education</label>
                              <input
                                    type="text"
                                    name="education"
                                    id="education"
                                    value="<%= locals.user.details.education %>"
                                    placeholder="University, College ..."
                              />
                        </div>

                        <div class="form-section text-input">
                              <label for="ocupation">Ocupation</label>
                              <input
                                    type="text"
                                    name="ocupation"
                                    id="ocupation"
                                    value="<%= locals.user.details.ocupation %>"
                                    placeholder="Doctor, Engeneer ..."
                              />
                        </div>
                  </div>

                  <div class="form-section languges-input area">
                        <label>Languges</label>
                        <div class="languages">
                              <% for(let i=0; i<languages.length; i++) { %>
                                    <span class="lang">
                                          <label for="lang-<%= i %>"><%= languages[i] %></label>
                                          <input
                                                id="lang-<%= i %>"
                                                type="checkbox"
                                                name="languges[]"
                                                value="<%= i %>"
                                          />
                                    </span>
                              <% } %>
                        </div>
                  </div>

                  <div class="area">
                        <div class="form-section text-input">
                              <label for="about_me">About me</label>
                              <textarea
                                    name="about_me"
                                    id="about_me"
                                    rows="8"
                              ><%= locals.user.details.about_me %></textarea>
                        </div>

                        <div class="form-section text-input">
                              <label for="about_partner">About partner</label>
                              <textarea
                                    name="about_partner"
                                    id="about_partner"
                                    rows="8"
                              ><%= locals.user.details.about_partner %></textarea>
                        </div>
                  </div>
            </div>

            <!-- // part 2 -->

            <div class="form-part">
                  <div class="area">
                        <div class="form-section text-input" id="country-section">
                              <label for="country">County</label>
                              <input type="text" id="country" autocomplete="no">
                              <div class="options hidden">
                                    <div class="listing"></div>
                              </div>
                              <input type="hidden" id="country_id" name="country" value="">
                        </div>

                        <div class="form-section text-input" id="state-section">
                              <label for="state">State/Region</label>
                              <input type="text" id="state" autocomplete="no">
                              <div class="options hidden">
                                    <div class="listing"></div>
                              </div>
                              <input type="hidden" id="state_id" name="state" value="">
                        </div>

                        <div class="form-section text-input" id="city-section">
                              <label for="city">City</label>
                              <input type="text" id="city" autocomplete="no">
                              <div class="options hidden">
                                    <div class="listing"></div>
                              </div>
                              <input type="hidden" id="city_id" name="city" value="">
                        </div>

                        <div class="form-section">
                              <label for="timezone">Timezone</label>
                              <select name="timezone" id="timezone">
                                    <option selected disabled>
                                          --not selected--
                                    </option>
                              </select>
                        </div>

                        <div class="form-section">
                              <label for="marital_status">Marital status</label>
                              <select name="marital_status" id="marital_status">
                                    <option selected disabled>
                                          --not selected--
                                    </option>
                                    <% for(let i=0; i<marital_status.length; i++){ %>
                                          <option value="<%= i %>">
                                                <%= marital_status[i] %>
                                          </option>
                                    <% } %> 
                              </select>
                        </div>

                        <div class="form-section">
                              <label for="height">Height</label>
                              <select name="height" id="height">
                                    <option selected disabled>
                                          --not selected--
                                    </option>
                                    <% for(let i=min_height; i<=max_height; i++){ %>
                                          <option value="<%= i %>">
                                                <% let height =`${i} lb  (${Number(i * 0.453592).toFixed(2)} kg)` %>
                                                <%= height %>
                                          </option>
                                    <% } %> 
                              </select>
                        </div>

                        <div class="form-section">
                              <label for="weight">Weight</label>
                              <select name="weight" id="weight">
                                    <option selected disabled>
                                          --not selected--
                                    </option>
                                    <% for(let i=min_weight; i<=max_weight; i++){ %>
                                          <option value="<%= i %>">
                                                <% let weight =`${i} cm  (${i / 100} m)` %>
                                                <%= weight %>
                                          </option>
                                    <% } %> 
                                    <option value="0">70</option>
                                    <option value="1">108</option>
                              </select>
                        </div>

                        <div class="form-section">
                              <label for="hair_color">Hair color</label>
                              <select name="hair_color" id="hair_color">
                                    <option selected disabled>
                                          --not selected--
                                    </option>
                                    <% for(let i=0; i<hair_colors.length; i++){ %>
                                          <option value="<%= i %>">
                                                <%= hair_colors[i] %>
                                          </option>
                                    <% } %> 
                              </select>
                        </div>

                        <div class="form-section">
                              <label for="eye_color">Eye color</label>
                              <select name="eye_color" id="eye_color">
                                    <option selected disabled>
                                          --not selected--
                                    </option>
                                    <% for(let i=0; i<eye_color.length; i++){ %>
                                          <option value="<%= i %>">
                                                <%= eye_color[i] %>
                                          </option>
                                    <% } %> 
                              </select>
                        </div>

                        <div class="form-section">
                              <label for="children">Children</label>
                              <select name="children" id="children">
                                    <option selected disabled>
                                          --not selected--
                                    </option>
                                    <% for(let i=0; i<=children_max; i++){ %>
                                          <option value="<%= i %>">
                                                <%= i %>
                                          </option>
                                    <% } %> 
                              </select>
                        </div>

                        <div class="form-section">
                              <label for="relegion">Relegion</label>
                              <select name="relegion" id="relegion">
                                    <option selected disabled>
                                          --not selected--
                                    </option>
                                    <% for(let i=0; i<relegions.length; i++){ %>
                                          <option value="<%= i %>">
                                                <%= relegions[i] %>
                                          </option>
                                    <% } %> 
                              </select>
                        </div>

                        <div class="form-section">
                              <label for="smoking">Smoking</label>
                              <select name="smoking" id="smoking">
                                    <option selected disabled>
                                          --not selected--
                                    </option>
                                    <% for(let i=0; i<habit.length; i++){ %>
                                          <option value="<%= i %>">
                                                <%= habit[i] %>
                                          </option>
                                    <% } %> 
                              </select>
                        </div>

                        <div class="form-section">
                              <label for="drinking">Drinking</label>
                              <select name="drinking" id="drinking">
                                    <option selected disabled>
                                          --not selected--
                                    </option>
                                    <% for(let i=0; i<habit.length; i++){ %>
                                          <option value="<%= i %>">
                                                <%= habit[i] %>
                                          </option>
                                    <% } %> 
                              </select>
                        </div>

                        <div class="form-section partner_age">
                              <label>Partner age</label>
                              <div class="select">
                                    <div>
                                          <label for="from">From</label>
                                          <select name="from" id="from">
                                                <option selected disabled>
                                                      --not selected--
                                                </option>
                                                <% for(let i=min_age; i<=max_age; i++){ %>
                                                <option
                                                      value="<%= i %>"
                                                      <%= i==locals.user.details.partner_age.from ? 'selected': '' %>
                                                >
                                                      <%= i %>
                                                </option>
                                                <% } %>
                                          </select>
                                    </div>

                                    <div>
                                          <label for="to">To</label>
                                          <select name="to" id="to">
                                                <option selected disabled>
                                                      --not selected--
                                                </option>
                                                <% for(let i=min_age; i<=max_age; i++){ %>
                                                      <option
                                                            value="<%= i %>"
                                                            <%= i==locals.user.details.partner_age.to ? 'selected': '' %>
                                                      >
                                                            <%= i %>
                                                      </option>
                                                <% } %>
                                          </select>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>

      <input type="hidden" name="_csrf" value="<%= locals.csrf %>" />
      <input type="hidden" name="_method" value="PATCH">

      <div class="form-section">
            <input type="submit" value="Save" />
      </div>
</form>
