<div id="profile">
      <div class="area adds">
            <h1>ads</h1>
            <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Delectus culpa eum aspernatur odit.
            </p>
      </div>

      <div class="area profile">
            <ul class="header">
                  <li><a href="/chat/<%= user._id %>">send Message</a></li>
                  <li><a href="#">Add to favorites</a></li>
                  <li><a href="#">Block user</a></li>
                  <li><a href="#">Report abuse</a></li>
            </ul>

            <div class="profile-data">
                  <div class="user-photos">
                        <%- include('../partials/gallery.ejs', {photos:
                        user.media, my}) %>
                  </div>

                  <div class="user-details">
                        <div class="user-detail">
                              <b>Full name</b>
                              <span><%= user.full_name %></span>
                        </div>
                        <div class="user-detail">
                              <b>Username</b>
                              <span><%= user.username %></span>
                        </div>
                        <div class="user-detail">
                              <b>Joined</b>
                              <span><%= user.createdAt %> ago</span>
                        </div>
                        <div class="user-detail">
                              <b>Last logged in</b>
                              <b class="currentSts">
                                    <span class="<%= online ? 'online' : 'offline' %>"></span>
                                    <span>
                                          <%= online ? 'online now' : user.lastOnline + ' ago' %>
                                    </span>
                              </b>
                        </div>
                        <div class="user-detail">
                              <b>Country</b>
                              <span><%= user.details.location.country %></span>
                        </div>
                        <div class="user-detail">
                              <b>State/Region</b>
                              <span><%= user.details.location.region %></span>
                        </div>
                        <div class="user-detail">
                              <b>City</b>
                              <span><%= user.details.location.city %></span>
                        </div>
                        <div class="user-detail">
                              <b>Age</b>
                              <span><%= user.age %></span>
                        </div>
                        <div class="user-detail">
                              <b>Marital status</b>
                              <span><%= user.details.marital_status %></span>
                        </div>
                        <div class="user-detail">
                              <b>Height</b>
                              <span><%= user.details.height %></span>
                        </div>
                        <div class="user-detail">
                              <b>Weight</b>
                              <span><%= user.details.weight %></span>
                        </div>
                        <div class="user-detail">
                              <b>Eye Color</b>
                              <span><%= user.details.eye_color %></span>
                        </div>
                        <div class="user-detail">
                              <b>Hair Color</b>
                              <span><%= user.details.hair_color %></span>
                        </div>
                        <div class="user-detail">
                              <b>Children</b>
                              <span><%= user.details.children %></span>
                        </div>
                        <div class="user-detail">
                              <b>Religion</b>
                              <span><%= user.details.relegion %></span>
                        </div>
                        <div class="user-detail">
                              <b>Smoking</b>
                              <span><%= user.details.smoking %></span>
                        </div>
                        <div class="user-detail">
                              <b>Drinking</b>
                              <span><%= user.details.drinking %></span>
                        </div>
                        <div class="user-detail">
                              <b>Education</b>
                              <span><%= user.details.education %></span>
                        </div>
                        <div class="user-detail">
                              <b>Occupation</b>
                              <span><%= user.details.ocupation %></span>
                        </div>
                        <div class="user-detail">
                              <b>Languages</b>
                              <span>
                                    <% for(let i=0; i<user.details.languages.length; i++) { %>
                                          <%= i ? ', ' : '' %><%= user.details.languages[i] %>
                                    <% } %>
                              </span>
                        </div>
                        <div class="user-detail">
                              <b>Self description</b>
                              <span><%= user.details.about_me %></span>
                        </div>
                        <div class="user-detail">
                              <b>Ideal match description</b>
                              <span><%= user.details.about_partner %></span>
                        </div>
                  </div>
            </div>
      </div>
</div>
